<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <title>Document</title>
    <script>

        var context; // переменная для хранения контекста
        var container; // переменная для хранения canvas элемента

        function get_bots() {
            $.ajax({
                type: "GET",
                url: "/get_bots_for_draw",
                success: function (response) {
                    var bots = jQuery.parseJSON(response);
                    for (let i = 0; i < bots.length; i++)
                        draw(bots[i]);
                }
            });
        }

        function draw(bot) {

            context.fillStyle = "rgb(" +
                bot['color']['r'] + ", " +
                bot['color']['g'] + ", " +
                bot['color']['b'] + ")";

            var circle = new Path2D();
            circle.arc(bot['coordinate']['x'], bot['coordinate']['y'], 20 + bot['score'], 0, 2 * Math.PI);
            context.fill(circle);

            context.textBaseline = "middle";
            context.textAlign = "center";
            context.font = 'bold 30px sans-serif';
            context.fillStyle = "rgb(" +
                (256 - bot['color']['r']) + ", " +
                (256 - bot['color']['g']) + ", " +
                (256 - bot['color']['b']) + ")";
            context.fillText(bot['name'], bot['coordinate']['x'], bot['coordinate']['y'])

        }

        window.onload = function () {
            container = document.createElement("canvas"); // создаем canvas элемент 
            container.width = 1900; // устанваливаем ширину
            container.height = 950; // устанавливаем высоту

            document.body.appendChild(container); // добавляем canvas в DOM
            context = container.getContext('2d'); // получаем конткест
            setInterval(function () {
                context.fillStyle = '#F7F7F7'; // устанавливаем цвет заливки в черный
                context.fillRect(0, 0, container.width, container.height); // собственно заливаем все черным

                context.beginPath();
                get_bots();
                context.stroke();

            }, 1000);
        }
    </script>
</head>

<body></body>

</html>